* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 1em;
}
header {
    text-align: center;
    margin-top: 5%;
}

.cart {
    display: flex;
    height: 100%;
    width: 100%;
}

.cart-left {
    flex: 2;
    padding: 10vh;
}

.top a {
    text-decoration: none;
    color: black;
}

.cart-right{
    flex: 1;
    padding: 10vh;
}

.top nav h4 {
    margin: 0;
}

.continue {
    text-align: center;
    margin-top: 30vh;
    font-size: 1.5em;
}

.continue a{
    text-decoration: none;
    color: rgb(221, 27, 27);
}

.bill {
    padding: 3vh;
    border: 1px solid #a8a6a6;
    border-radius: 5px;
    width: 100%;
    background: #dddddd;
}

.bill hr {
    margin: 20px;
    width: 100%;
    margin-left: 0;
    border: 0.1px solid #c6c5c5;
}

.order {
    position: relative;
    padding: 10px 0;
}

/* .order::before {
    content: ' ';
    position: absolute;
    background: rgb(233, 196, 228);
    width: 111%;
    height: 20%;
    top: 0;
    margin-left: -20px;
    margin-top: -21px;
    border-radius: 1px;
} */

.text p {
    margin: 10px 0;
}

.invoice label{
    display: flex;
    margin-right: 140px;
}

.invoice checkbox {
    height: 100%;
    width: 100%;
}

.form_note {
    box-sizing: border-box;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 15px;
}

.notes textarea {
    width: 100%;
    box-sizing: border-box;
}

.note {
    margin-bottom: 10px;
}

.tmp {
    height: 100vh;
}

.pay {
    margin-top: 20px;
}

.clause a {
    color: rgb(39, 39, 39);
}

.select button{
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 6vh;
    background: rgb(170, 169, 169);
    border: 1px solid #807e7e;
}

.select p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.continue-buy {
    text-align: center;
}

.continue-buy a{
    color: #0b58b0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal_content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cart {
        flex-direction: column;
    }

    .cart-left, .cart-right {
        width: 100%;
        padding: 6vh;
    }

    .cart-right {
        margin-top: 20px;
    }
}